.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.title_text_score {
  font-size: small;
  margin-bottom: 5px;
  margin-top: 10px;
}

.svg_score {
  margin-top: -15px;
}

.judul .title{
  font-weight: bold;
  font-size: medium;
}

.judul .diskripsi{
  margin-top: -15px;
}

.abstrak .title{
  font-weight: bold;
  font-size: medium;
  margin-top: 20px;
}

.abstrak .diskripsi{
  margin-top: -15px;
}

.dosen{
  border-bottom: .25rem solid #5B47FB !important;
}

.hms{
  border-bottom: .25rem solid #ffffff !important;
  margin-left: -15px;

}

.card-horizontal{
  background-color: rgb(241, 241, 243);
}

.card-footer{
  background-color: rgb(227, 227, 233);
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

hr{
  margin: 0 0;
}

@media only screen and (max-width: 1000px) {
  .card-body{
    margin-left: 25px;
  }
  .modal-reksis {
    max-width: 150px; 
    margin: auto;
  }
  .btn-kembali{
    margin-left: 0px;  
  }
  
}
 
.card-title{
  margin-top: 10px;
  margin-bottom: -2px;
}

@media screen and (min-width: 676px) {
  .modal-reksis {
    max-width: 150px; 
  }

  .btn-kembali{
    margin-left: 0px;  
  }
}

#modal_loading{
  
  text-align: center;
}

.loading i{
  text-align: center;
  color:#4A91DC;

}

.loading p{
  color: rgb(123, 123, 128);
  margin-top:15px;
}

.btn-kembali{
  margin-left:-15px;  
}

.error-message{
  color:#fb5347  
}

.title-reksis{
  margin-top:20px;
  margin-left: 15px;
}

.title-reksis-input{
  margin-top:20px;
}

.loading-icon{
  margin: auto auto;
}